#menu a.pure-menu-heading { 
	padding-left: 0;
	text-align: center;
}

#change-credentials-msg { font-size: 0.8em;}

#launch-content .pure-button-primary { font-size: 1.5em;}

#launch-checklist {
	font-size: 2em;
	list-style-type: none;
	color: #ccc;
	margin-left: 3.5em;
}

#launch-checklist .working {
	color: rgb(75, 75, 75);
}

#launch-checklist .ok {
	color: rgb(28, 184, 65);
}

#launch-checklist .error {
	color: rgb(202, 60, 60);
}

#launch-checklist i, #menu i {
	margin-right: 1em;
}


.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
	font-size: 2em;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success, .pure-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.control-group-message {
	margin-left: 10em;
}

#credentials-verified {
	color: rgb(28, 184, 65);
}

#credentials-success {
	display: none;	
	color: rgb(28, 184, 65);
}

#credentials-error {
	display: none;
	color: rgb(202, 60, 60);
}

#credential-check-spinner {
	visibility: hidden;
	position: relative;
	top: 8px;
	left: 7px;
}

.region_choice {
	margin-bottom: 0.5em;
}
.region_choice input {
	margin-right: 1em;
	padding-bottom: 3px;
}

.region_choice span {
	position: relative;
	top: 2px;
}

#submit_form {
	margin-top: 1em;
}

#delete_credentials {
	margin-top: 1em;
}

#launch-checklist .ok .fa-circle-o, 
#launch-checklist .ok .fa-circle, 
#launch-checklist .ok .fa-exclamation-circle, 
#launch-checklist .working .fa-circle-o, 
#launch-checklist .working .fa-check-circle,
#launch-checklist .working .fa-exclamation-circle, 
#launch-checklist .pending .fa-circle,
#launch-checklist .pending .fa-check-circle,
#launch-checklist .pending .fa-exclamation-circle,
#launch-checklist .error .fa-circle-o, 
#launch-checklist .error .fa-circle, 
#launch-checklist .error .fa-check-circle { display: none;}

#launch-checklist .ok .fa-check-circle,
#launch-checklist .working .fa-circle,
#launch-checklist .pending .fa-circle-o,
#launch-checklist .error .fa-exclamation-circle,  { display: inline;}

#region-error { display: none; color: rgb(202, 60, 60);}
#credentials-error { display: none; color: rgb(202, 60, 60);}

.button-holder { text-align: center; margin-top: 1em;}
#wormhole-icon { fill: #eee; display: block; margin: 1em auto;}
#close-wormhole { display: none;}
#launch-checklist { display: none; }
#open-wormhole { margin: 0 auto; }


#wormhole-icon.spinit {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}