<div class="pure-u" id="menu">
	<div class="pure-menu pure-menu-open">
    	<a class="pure-menu-heading" href="/"><img src="/static/img/wormhole.png" alt="Wormhole logo" /></a>

        <ul>
        	{% if path=='launch' %}
            	<li class="pure-menu-selected ">
            {% else %}
            	<li class=" ">
            {% endif %}
            <a href="/launch"><i class="fa fa-rocket"></i>Start</a>
            </li>

            {% if path=='settings' %}
            	<li class="pure-menu-selected ">
            {% else %}
            	<li class=" ">
            {% endif %}
            <a href="/settings"><i class="fa fa-wrench"></i>Settings</a>
            </li>	          

            <!--
            {% if path=='status' %}
            	<li class="pure-menu-selected">
            {% else %}
            	<li class=" ">
            {% endif %}
            <a href="/"><i class="fa fa-dashboard"></i>Status</a>
            </li>

            {% if path=='about' %}
            	<li class="pure-menu-selected">
            {% else %}
            	<li class=" ">
            {% endif %}
            <a href="/about"><i class="fa fa-info-circle"></i>About</a>
            </li>	       
            -->   
        </ul>
	</div>
</div>